html, body, h1, form, fieldset, legend, ol, li {
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  color: #111111;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px;
  background-image: url(http://www.franceinfo.fr/sites/default/files/2013/12/09/1242987/images/ressource/Fotolia_54953340_Subscription_XL.jpg);
  background-size: cover;
}
form#inscription{
  background: #206E49;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  position: absolute;
  top: 60px;
  left: 100px;
}
form#inscription fieldset {
  border: none;
  margin-bottom: 10px;
}
form#inscription fieldset:last-of-type {
  margin-bottom: 0;
}
form#inscriptionlegend {
  color: #384313;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px #c0d576;
}
form#inscriptiont > fieldset > legend:before {
  content: "Étape " counter(fieldsets) " : ";
  counter-increment: fieldsets;
}
form#inscription fieldset fieldset legend {
  color: #111111;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 0;
}
form#inscription ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
form#inscription ol ol li {
  background: none;
  border: none;
  float: left;
}
form#inscription label {
  float: left;
  font-size: 13px;
  width: 200px;
}
form#inscription fieldset fieldset label {
  background:none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}

form#inscription fieldset fieldset label:hover {
  cursor: pointer;
}
form#inscription input:not([type=radio]),
form#inscription textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
    position: relative;
   left: 200px;

}
form#inscription input:not([type=submit]):focus,
form#inscriptionn textarea:focus {
  background: #eaeaea;
}
form#inscription SELECT 
{
   background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: px;
  width: 200px;
   position: relative;
   left: 200px;
}

form#inscription button {
  background: #598E92;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}
form#inscription button:hover {
  background: #598E92;
  cursor: pointer;
}